.table {
  margin-top: 40px;
}

.table table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #f3f3f3;
}
.table table thead {
  background-color: #a0c8cf;
}
.table table thead th {
  border: 1px solid #000;
  text-align: center;
  padding: 20px;
}
.table table tbody td {
  text-align: center;
  padding: 8px;
  border: 1px solid #000;
}

.addBut {
  background-color: #000;
  color: #eee;
  width: 165px;
  height: 45px;
  border-radius: 8px;
  transition: 0.3s;
  margin: 10px;
}
.addBut:hover {
  opacity: 0.8;
  background-color: #eee;
  color: #000;
}

.search-box {
  margin-top: 20px;
  display: flex;
  border: 1px solid black;
  border-radius: 12px;
  overflow: hidden;
  margin-left: 50px;
  height: 50px;
  width: 800px;
  background-color: #eee;
}
.search-box button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.search-box input {
  outline: none;
  border: none;
  background-color: #eee;
  width: 100%;
}
.pagination {
  margin: 20px 270px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  margin: 20px 400px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #a0c8cf;
  box-shadow: 30px 0 0 #eee;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #eee;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #eee;
  }
  50% {
    box-shadow: 0 0 0 #eee;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #eee;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #a0c8cf;
  }
  50% {
    box-shadow: 0 0 0 #a0c8cf;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #a0c8cf;
    margin-top: 0;
  }
}

@media screen and (max-width: 430px) {
  .search-box {
    width: 400px;
    margin: 20px 0;
  }
  .table {
    width: 10px;
  }
  .desc {
    display: none;
  }
  .pagination {
    margin: 20px 40px;
    width: 100%;
  }
  .loader:before,
  .loader:after {
    margin: 20px 150px;
  }
}

@media screen and (max-width: 360px) {
  .search-box {
    width: 300px;
    margin: 20px 40px;
  }
  .table table {
    margin-left: 5px;
  }
  .table table thead th {
    padding: 10px;
  }
  .table table tbody td {
    padding: 5px;
  }
}
