.add {
  margin-top: 20px;
  margin-left: 270px;
}

.add button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #609ba5;
  color: white;
  border: none;
  border-radius: 4px;
  width: 350px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add button:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 430px) {
  .add {
    margin: 0;
  }
  .add button {
    width: 350px;
  }
}

@media screen and (max-width: 360px) {
  .add {
    margin: 0 50px;
  }
  .add button {
    width: 200px;
    margin-left: 40px;
  }
}
