.header {
  border-bottom: 1px solid #000;
  height: 60px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.content img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.content p {
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 430px) {
  .content .admin {
    margin-right: 18px;
  }
  .content p,
  h1 {
    font-size: 20px;
  }
}
